body {
    font-family: 'Shrikhand', cursive;
    background-color: #B7B7B9;
}

h1 {
    font-size: 4em;
}

#train-table th,
td {
  display: inline-block;
  width: 16.575%;
}

/* 
=============
    THEME
=============
*/

#currentSched {
    color: #616E74;
}

.jumbotron {
    background-color: #616E74;
    color:#6BD7C4;
    border: solid;
    border-width: 0.75em;
    border-color: #753B83;
}

.card {
    font-family: 'Teko', sans-serif;
    font-size: larger;
    background-color: #B7B7B9;
    color:#753B83;
    border-width: thick;
    border-color: #616E74;
}

/* 
==============
    BUTTONS
==============
*/

.btn, 
.btn-block {
    background-color: #616E74;
    color:#6BD7C4;
    border: none;
}

.btn:hover,
.btn-block:hover {
    cursor: pointer;
    background-color: #616E74;
    color:#6BD7C4;
    text-decoration: none;
    border: #753B83;

}

.btn:focus,
.btn-block:focus,
#add-train-btn:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.form-control,
.form-control:active {
    background-color: rgb(211, 211, 211);
    border-color: #753B83;
}

.form-control:focus {
    background-color: rgb(211, 211, 211);
    border-color: #753B83;
    box-shadow: none;
}

#add-train-btn {
    margin-bottom: 1em;
}

#add-train-btn:active,
.btn-block:active {
    background-color: #753B83;
    color: white;
}